<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Hello!</title>
    <script type="application/javascript">
        function draw() {
            var canvas = document.getElementById("canvas");
            var ctx = canvas.getContext("2d");
            canvas.weidth = 1000;
            canvas.height = 1000;
            var img = new Image();   // Создает новый элемент изображения
            img.src = '/get/image';
            ctx.drawImage(img,10,10);
        }
    </script>
</head>


    <h1>Hello</h1>
    <body onload="draw();">
    <canvas id="canvas" width="1000" height="1000" style="border: 1px dotted black"></canvas>
    </body>

</html>

